table {
    caption-side: bottom;  /* 표 캡션 위치 */
    border:1px solid black;  /* 표 테두리는 검은 색 실선으로 */
    /* border-collapse: collapse;  테두리 한줄로 표시 */
}
td, th {
    border:1px dotted black;  /* 셀 테두리는 검은 색 점선으로 */
    padding:10px;  /* 셀 테두리와 내용 사이의 여백 */
    text-align:center;  /* 셀 내용 가운데 정렬 */
}

/* 모든 후손
table {}
table caption {}
table thead {}
table tbody {}
table tr {}
table th {}
table td {}

/* 직계 자식 */
/* table {}
table > caption {}
table > thead {}
table > thead > tr {}
table > thead > tr > th {}
table > tbody {}
table > tbody > tr {}
table > tbody > tr > td {} */ 
