.temp_R {
  background: rgb(72, 72, 72);
  width: calc(100% - 200px);
}

.Main-wrapper {
  background: rgb(72, 72, 72);
}

.timetable {
  right: 10px;
  position: fixed;
}

.time-wrapper {
  position: fixed;
}

.time {
  float: right;
  margin-top: 20px;
  margin-right: 50px;
  font-size: 20px;
  font: bolder;
  display: flex;
  flex-direction: column;
  color: white;
}
.Header {
  text-align: center;
  color: white;
  font-size: 20px;
}
