html, body{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 20%);
    grid-template-rows: minmax(100px, 150px);
}

.items{
    background-color: #eee;
}

.items:nth-child(odd){
    background-color: #bbb;
}