@media (min-width: 980px) {
  body {
    background: linear-gradient(to bottom, gray, white);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .wrap {
    width: 960px;
  }

  .header,
  .footer {
    height: 100px;
    background: linear-gradient(to right bottom, black, gray);
    color: white;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }

  .footer {
    margin-bottom: 0;
  }

  /* .main {
        overflow: hidden;
        } */
  .main::after,
  .main-right-top::after {
    clear: both;
    display: table;
    content: "";
  }

  .main-left,
  .main-right {
    float: left;
  }

  .main-left,
  .main-right-top-left,
  .main-right-top-middle {
    margin-right: 5px;
  }

  .main-left-1,
  .main-left-2,
  .main-left-3,
  .main-right-top-left-1,
  .main-right-top-left-2,
  .main-right-top-left-3,
  .main-right-top-middle-1,
  .main-right-top-middle-2,
  .main-right-top-right-1,
  .main-right-top-right-2 {
    width: 236.25px;
    background: linear-gradient(to bottom, gray, white);
    border-radius: 5px;
    height: 100px;
    margin-bottom: 5px;
  }

  .main-right-top-right-1 ul {
    list-style: none;
    margin: 0;
  }

  .main-right-top-right-1 ul li {
    display: inline-table;
  }

  .main-left-3,
  .main-right-top-right-2 {
    height: 205px;
    margin-bottom: 0;
  }

  .main-right-top-middle-1 {
    height: 205px;
  }

  .main-right-top-left-3,
  .main-right-top-middle-2 {
    margin-bottom: 0;
  }

  .main-right-top-left,
  .main-right-top-middle,
  .main-right-top-right {
    float: left;
  }

  .main-right-bottom {
    width: 718.75px;
    height: 100px;
    background: linear-gradient(to right bottom, gray, white);
    border-radius: 5px;
  }

  .main,
  .main-right-top {
    margin-bottom: 5px;
  }

  #logo h1 {
    /*font-family: 'Merienda', cursive;*/
    font-weight: 700;
    font-size: 35px;
    /* 글자 크기 */
    color: #fff;
    /* 글자 색*/
    text-shadow: 0 -1px 0 #222;
    /* 그림자 색 */
  }

  #logo {
    float: left;
    /* 왼쪽으로 플로팅 */
    width: 250px;
    /*  너비 */
    height: 100px;
    /* 높이 */
    line-height: 50px;
    /* 세로로 중간에 맞춤 - 줄간격을 높이 값과 같게 */
    padding-left: 20px;
    /* 왼쪽에 여백 */
  }

  a {
    text-decoration: none;
    /* 텍스트 링크 밑줄 없애기 */
  }

  #topMenu {
    height: 60px;
    padding-top: 40px;
    /* 메뉴를 아래로 내리기 위해 */
    display: flex;
    align-items: end;
    justify-content: space-around;
    width: 35%;
  }
  #topMenu > a {
    display: block;
    /* 링크 텍스트는 블록으로 */
    font-size: 1.1em;
    color: #fff;
    /* 글자 색 */
    font-weight: 600;
    /* 글자 굵기 */
    padding: 10px;
    /* 패딩 */
    flex: none;
  }
    #topMenu > a:hover {
    color: #1fa8f8;
    text-shadow: 0 -2px #222;
  }
  .main-right-top-left-1 {
    background-image: url(/img/healing.jpg);
    background-size: 100% 100%;
  }

  .main-left-1 {
    background-image: url(/img/activity.jpg);
    background-size: 100% 100%;
  }

  p {
    font-size: 1.52em;
    margin: 0;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
  }

  .display {
    font-size: 1.52em;
    font-weight: bold;
    color: black;
  }

  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: linear-gradient(to right bottom, black, gray);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  .lds-facebook div:nth-child(1) {
    left: 86.5px;
    margin-top: 60px;
    animation-delay: -0.24s;
  }

  .lds-facebook div:nth-child(2) {
    left: 110.125px;
    margin-top: 60px;
    animation-delay: -0.12s;
  }

  .lds-facebook div:nth-child(3) {
    left: 134.125px;
    margin-top: 60px;
    animation-delay: 0;
  }

  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }

    50%,
    100% {
      top: 24px;
      height: 32px;
    }
  }

  #lightbox {
    position: fixed;
    /* 위치 고정 */
    width: 100%;
    /* 너비 */
    height: 100%;
    /* 높이 */
    background-color: rgba(0, 0, 0, 0.7);
    /* 배경색 */
    top: 0;
    /* 시작 위치 - 위쪽 끝 */
    left: 0;
    /* 시작 위치 - 왼쪽 끝 */
    display: none;
    /* 화면에서 감추기 */
  }

  /* 라이트 박스 안의 이미지 */
  #lightbox img {
    position: absolute;
    /* top, left에 의해 위치 지정 */
    top: 50%;
    /* 위쪽에서 50% 부터 */
    left: 50%;
    /* 왼쪽에서 50% 부터 */
    transform: translate(-50%, -50%);
    /* 요소를 화면 중앙에 표시하기 위해 이동 */
    border: 5px solid #eee;
    /* 이미지 테두리 */
  }
  .dum{
    display: none;
  }
}
@media (max-width: 980px) {
    body{
        background: linear-gradient(to bottom, gray, white);
        background-repeat: repeat-x;
    }
  .wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    grid-gap: 1rem;
    background: linear-gradient(to bottom, gray, white);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header,
  .footer {
    height: 100px;
    background: linear-gradient(to right bottom, black, gray);
    color: white;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }

  .footer {
    margin-bottom: 0;
  }

  /* .main {
        overflow: hidden;
        } */
  .main::after,
  .main-right-top::after {
    clear: both;
    display: table;
    content: "";
  }

  .main-left,
  .main-right {
    display: table-footer-group;
  }

  .main-left,
  .main-right-top-left,
  .main-right-top-middle {
    margin-right: 5px;
    
  }

  .main-left-1,
  .main-left-2,
  .main-left-3,
  .dum
  .main-right-top-left-1,
  .main-right-top-left-2,
  .main-right-top-left-3,
  .main-right-top-middle-1,
  .main-right-top-middle-2,
  .main-right-top-right-1,
  .main-right-top-right-2 {
    width: 236.25px;
    background: linear-gradient(to bottom, gray, white);
    border-radius: 5px;
    height: 100px;
    margin-bottom: 5px;
  }

  .main-right-top-right-1 ul {
    list-style: none;
    margin: 0;
  }

  .main-right-top-right-1 ul li {
    display: inline-table;
  }

  .main-left-3,
  .main-right-top-right-2 {
    height: 205px;
    margin-bottom: 0;
  }

  .main-right-top-middle-1 {
    height: 205px;
  }

  .main-right-top-left-3,
  .main-right-top-middle-2 {
    margin-bottom: 0;
  }

  .main-right-top-left,
  .main-right-top-middle,
  .main-right-top-right {
    float: left;
  }

  .main-right-bottom {
    width: 718.75px;
    height: 100px;
    background: linear-gradient(to right bottom, gray, white);
    border-radius: 5px;
  }

  .main,
  .main-right-top {
    margin-bottom: 5px;
  }

  #logo h1 {
    /*font-family: 'Merienda', cursive;*/
    font-weight: 700;
    font-size: 35px;
    /* 글자 크기 */
    color: #fff;
    /* 글자 색*/
    text-shadow: 0 -1px 0 #222;
    /* 그림자 색 */
  }

  #logo {
    float: left;
    /* 왼쪽으로 플로팅 */
    width: 250px;
    /*  너비 */
    height: 100px;
    /* 높이 */
    line-height: 50px;
    /* 세로로 중간에 맞춤 - 줄간격을 높이 값과 같게 */
    padding-left: 20px;
    /* 왼쪽에 여백 */
  }

  a {
    text-decoration: none;
    /* 텍스트 링크 밑줄 없애기 */
  }

  #topMenu {
    height: 60px;
    padding-top: 40px;
    /* 메뉴를 아래로 내리기 위해 */
    display: flex;
    align-items: end;
    justify-content: space-around;
    width: 35%;
  }
  #topMenu > a {
    display: block;
    /* 링크 텍스트는 블록으로 */
    font-size: 1.1em;
    color: #fff;
    /* 글자 색 */
    font-weight: 600;
    /* 글자 굵기 */
    padding: 10px;
    margin-left: -70px;
    flex: none;
    /* 패딩 */
  }

  #topMenu > a:hover {
    color: #1fa8f8;
    text-shadow: 0 -2px #222;
  }

  .main-right-top-left-1 {
    background-image: url(/img/healing.jpg);
    background-size: 100% 100%;
  }

  .main-left-1 {
    background-image: url(/img/activity.jpg);
    background-size: 100% 100%;
  }

  p {
    font-size: 1.52em;
    margin: 0;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
  }

  .display {
    font-size: 1.52em;
    font-weight: bold;
    color: black;
  }

  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: linear-gradient(to right bottom, black, gray);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  .lds-facebook div:nth-child(1) {
    left: 86.5px;
    margin-top: 60px;
    animation-delay: -0.24s;
  }

  .lds-facebook div:nth-child(2) {
    left: 110.125px;
    margin-top: 60px;
    animation-delay: -0.12s;
  }

  .lds-facebook div:nth-child(3) {
    left: 134.125px;
    margin-top: 60px;
    animation-delay: 0;
  }

  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }

    50%,
    100% {
      top: 24px;
      height: 32px;
    }
  }

  #lightbox {
    position: fixed;
    /* 위치 고정 */
    width: 100%;
    /* 너비 */
    height: 100%;
    /* 높이 */
    background-color: rgba(0, 0, 0, 0.7);
    /* 배경색 */
    top: 0;
    /* 시작 위치 - 위쪽 끝 */
    left: 0;
    /* 시작 위치 - 왼쪽 끝 */
    display: none;
    /* 화면에서 감추기 */
  }

  /* 라이트 박스 안의 이미지 */
  #lightbox img {
    position: absolute;
    /* top, left에 의해 위치 지정 */
    top: 50%;
    /* 위쪽에서 50% 부터 */
    left: 50%;
    /* 왼쪽에서 50% 부터 */
    transform: translate(-50%, -50%);
    /* 요소를 화면 중앙에 표시하기 위해 이동 */
    border: 5px solid #eee;
    /* 이미지 테두리 */
  }
    .dum{
    width: 400.25px;
    background: linear-gradient(to bottom, gray, white);
    border-radius: 5px;
    height: 412px;
    margin-top: 5px;
  }
}
