.temp_L {
  float: left;
  width: 200px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  font-size: 1rem;
  background: rgb(29, 28, 28);
  color: white;
}

.footer-wrapper {
  width: auto;
  height: 8%;
  background-color: rgb(43, 43, 43);
}

.temp_L_fixed {
  position: fixed;
  width: 200px;
  height: 100%;
}
.title a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}